<div class="container splash-panel">
    <div class="container">

    <div class="row">
        
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="custom-font-semi-bold" data-ng-bind="plantinfo.plant.title"></h1>
                <h3 data-ng-if="plantinfo.plants[0].nickname" class="custom-font-light">Also know as <strong>{{plantinfo.plants[0].nickname}}</strong></h3>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <img data-ng-src="{{plantinfo.plant.image.large}}" class="img-responsive photo-frame" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <h5 class="custom-font-semi-bold"><span aria-hidden="true" class="glyphicon glyphicon-calendar"></span> Can be planted in:</h5>
                    <ul class="list-unstyled addCapitals">
                        <li data-ng-repeat="canSow in plantinfo.plant.months_sow">{{canSow}}</li>
                    </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <h5 class="custom-font-semi-bold"><span aria-hidden="true" class="glyphicon glyphicon-calendar"></span> Flowers in:</h5>
                    <ul class="list-unstyled addCapitals">
                        <li data-ng-repeat="canSow in plantinfo.plant.months_flower">{{canSow}}</li>
                    </ul>
                    </div>
                </div> 
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">        
                    <h4 class="custom-font-semi-bold">Description</h4>
                    <p data-ng-bind="plantinfo.plant.plant_description"></p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 plant-article-deal-holder">
            <h3 class="deal-column-header custom-font-semi-bold">Find great prices for {{plant.title}}</h3>
            <div class="mini-deal" data-deal-element-mini data-ng-repeat="deal in plantinfo.plantDeals"  deal="deal"></div>
        </div>
        
    </div>
    </div>
</div>